################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PishgamApi/DesignTimeBuild/.dtbcache.v2
/.vs/PishgamApi/FileContentIndex/e8bf440d-ff16-459a-a2d9-a3dc94fcb74b.vsidx
/.vs/PishgamApi/FileContentIndex/d6866e84-b98b-48cc-ac97-93cec82c0df9.vsidx
/.vs/PishgamApi/FileContentIndex/d41e4e18-75ab-4004-b05c-e59518bb5322.vsidx
/.vs/PishgamApi/FileContentIndex/b9aca8c0-b606-4998-b464-ea1395f92851.vsidx
/.vs/PishgamApi/FileContentIndex/9f5f68e4-a010-4cc4-b831-b15bd5d8c495.vsidx
/.vs/PishgamApi/FileContentIndex/9690a8b4-fbb4-4368-ada3-6493757b1db7.vsidx
/.vs/PishgamApi/FileContentIndex/1e4af75d-5dc2-4d99-b5e5-40c65c3df8fc.vsidx
/.vs/PishgamApi/FileContentIndex/0a127554-83f5-440c-8e4c-698df5714349.vsidx
/.vs/PishgamApi/FileContentIndex/6b14cec1-526f-4639-a970-0246e8f4e71b.vsidx
/.vs/PishgamApi/v17/.suo
/.vs/PishgamApi/FileContentIndex/eda3b576-02aa-42f0-9faa-38e7f29c1b30.vsidx
/.vs/PishgamApi/FileContentIndex/b26f6b1e-848a-4c5c-907d-ef5168a27453.vsidx
*.vsidx
/obj/Debug/net7.0/PishgamApi.AssemblyInfo.cs
/obj/project.nuget.cache
/obj/project.assets.json
/obj/PishgamApi.csproj.nuget.dgspec.json
/obj/Debug/net7.0/PishgamApi.AssemblyInfoInputs.cache
/bin/Debug/PishgamApi.1.0.2.nupkg
/bin/Debug/net7.0/PishgamApi.pdb
/bin/Debug/net7.0/PishgamApi.dll
/bin/Debug/net7.0/PishgamApi.deps.json
/obj/Debug/PishgamApi.1.0.2.nuspec
/obj/Debug/net7.0/refint/PishgamApi.dll
/obj/Debug/net7.0/PishgamApi.pdb
/obj/Debug/net7.0/PishgamApi.dll
/obj/Debug/net7.0/PishgamApi.csproj.FileListAbsolute.txt
/obj/Debug/net7.0/PishgamApi.csproj.CoreCompileInputs.cache
/obj/Debug/net7.0/ref/PishgamApi.dll
/.vs/ProjectEvaluation/pishgamapi.projects.v6.1
/.vs/ProjectEvaluation/pishgamapi.metadata.v6.1
/.vs/PishgamApi/v17/.futdcache.v2
/obj/Debug/net7.0/PishgamApi.csproj.AssemblyReference.cache
